In [5]:
from sklearn.linear_model import LinearRegression as lr 
from sklearn.model_selection import train_test_split

In [4]:

from sklearn.model_selection import cross_val_score
from sklearn.datasets import fetch_california_housing as fch 
import pandas as pd 
housevalue = fch()

In [9]:
x = pd.DataFrame(housevalue.data)
y = housevalue.target
x.shape

(20640, 8)

In [14]:
x.sample(5)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
3795,2.4835,43.0,4.253731,1.058209,1510.0,2.253731,34.16,-118.36
5573,4.9792,35.0,4.905844,0.889610,853.0,2.769481,33.86,-118.30
8952,3.9537,44.0,4.428241,1.020833,1295.0,2.997685,34.03,-118.38
17085,2.9200,33.0,3.790419,1.242515,1991.0,5.961078,37.47,-122.21
16629,3.3958,12.0,5.320242,1.031722,1780.0,2.688822,35.32,-120.82

In [13]:
housevalue.feature_names
x.columns = housevalue.feature_names

In [15]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.3,random_state = 420)

In [21]:
for i in [xtrain, xtest]:
    i.index= range(i.shape[0])

In [23]:
xtrain.shape

(14448, 8)

In [25]:
yhat = reg.predict(xtest)

In [26]:
yhat

array([1.51384887, 0.46566247, 2.2567733 , ..., 2.11885803, 1.76968187,
       0.73219077])

In [29]:
reg.coef_

array([ 4.37358931e-01,  1.02112683e-02, -1.07807216e-01,  6.26433828e-01,
        5.21612535e-07, -3.34850965e-03, -4.13095938e-01, -4.26210954e-01])

# --------------------------